* {
    margin: 0;
    padding: 0;
}

.jumbotron-fluid {
    background: rgb(138, 52, 52);
    color: white;
    text-align: center;
    border-radius: 25px;
}
.info_sheet {
    border: 1px solid rgb(66, 64, 64);
    border-radius: 25px;
}
#header {
    font-size: 120%;
    padding-top: 1%;
    
}

#header1 {
    font-size: 120%;
    padding-top: 1%;
}
.table thead th {
    border-bottom: 0px solid 
}
.info_sheets {
    border: 1px solid rgb(66, 64, 64);
    padding-bottom: 20px;
    border-radius: 25px;
}
 